.downloadSection {
  align-self: stretch;
  display: flex;
}

.row {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 100px;
}

.infosection {
  gap: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 30vh;
}

.tabSection {
  display: flex;
  align-items: center;
}

.tab,
.tab1 {
  cursor: pointer;
  padding: 22px 56px;
  color: grey;
}

.activeTab {
  border-bottom: 3px solid black !important;
  color: black;
}

.lineelevenOne {
  height: 1px;
  background-color: #000000;
}

.faqSection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  align-items: flex-start; /* Ensures independent height */
}

/* .faqItem {
  display: flex;
  flex-direction: column;
} */
.faqItem {
  width: 48%;
  margin-bottom: 20px;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

.faqAnswer {
  padding-top: 10px;
  color: #666;
  font-size: 16px;
}

.divider {
  height: 1px;
  background-color: #000000;
  margin-top: 10px;
}

.brochureSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.listspecsheet {
  /* gap: 128px; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.columnTwo {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 300px;
}

.rowtext {
  gap: 12px;
  display: flex;
  align-items: center;
}

.imageclass {
  height: 16px;
  cursor: pointer;
}

.flexRowCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewAllSpecs {
  color: #1741be;
  border: 1px solid #1741be;
  height: 52px;
  padding: 0 32px;
  font-size: 14px;
}

.sizeH4 {
  font-size: 22px;
  font-weight: 400;
}

.sizeH6 {
  font-size: 16px;
  font-weight: bold;
}

.sizeBodyMedium {
  font-size: 14px;
}

/* .descriptionTwo {
  color: #666;
} */

.materialfinish {
  color: black;
}

.text7 {
  color: #1741be;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}
.DownloadSection_text7__rR7_c:hover {
  color: darkblue;
}
