.warrenty-form{
    padding-top: 80px;
    padding-bottom: 80px;
    overflow-x: scroll;
    display: flex;
    align-items: start;
}
.column1, .column2{
    width: 50%;
}
.column1{
    padding-left: 56px;
    padding-right: 56px;
    gap: 22px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.column2{
    margin-bottom: 40px;
    gap: 16px;
    width: 670px;
    display: flex;
    flex-direction: column;
}

.columnsubmit {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.columnform {
    gap: 14px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
}
.columnstreetadd {
    gap: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rowform_three {
    gap: 25px;
    display: flex;
}

.columnfirstname {
    gap: 16px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
}
.submitBtn{
    background-color: #000000;
    color: #ffffff;
    height: 52px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    border-radius: 0px;
}
.rowphonenumber{
    gap: 17px;
    display: flex;
}
.form_one {
    color: #878e96;
    border-color: #000000 !important;
    width: 88%;
    height: 120px;
    border-bottom: 1px solid #000000
}
.form_three {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.streetaddress {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
}